<mat-toolbar>
    <span>New copter</span>
    <span class="fill-remaining-space"></span>
    <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1">
      <mat-icon>clear</mat-icon>
    </button>
  </mat-toolbar>
  <form [formGroup]="coptersForm" class="normal-form" (submit)="onSubmit()">
    <mat-grid-list cols="2" rowHeight="320px">
      <mat-grid-tile>
        <div class="controles-container">
          <input type="hidden" formControlName="id">
          <mat-form-field>
            <input formControlName="name" matInput placeholder="Name*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input formControlName="latitude" matInput placeholder="Latitude*">
            <mat-error>This field is mandatory.</mat-error>
            </mat-form-field>  
          <mat-form-field>
            <input formControlName="longitude" matInput placeholder="Longitude*">
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field> 

          <mat-form-field>
              <mat-select placeholder="Select brand" formControlName="brandName">
                  <mat-option *ngFor="let brand of brands" [value]="brand.id">
                      {{brand.name}}
                  </mat-option>
                </mat-select>
            </mat-form-field>
          <mat-form-field>
              <input formControlName="costPerMinute" matInput placeholder="Cost per minute*">
              <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
        <div class="controles-container">
          <mat-form-field>
              <input formControlName="maxSpeed" matInput placeholder="Max speed*">
              <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          <mat-form-field>
              <input formControlName="maxFlightHeight" matInput placeholder="Max flight height*">
              <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-form-field>
            <mat-select formControlName="control" placeholder="Select control type">
              <mat-option value="0">Remote control</mat-option>
              <mat-option value="1">Smartphone</mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>
          
          <mat-form-field>
            <mat-select formControlName="droneType" placeholder="Select drone type">
              <mat-option value="0">Filming</mat-option>
              <mat-option value="1">Cargo transportation</mat-option>
              <mat-option value="2">Vehiche</mat-option>
            </mat-select>
            <mat-error>This field is mandatory.</mat-error>
          </mat-form-field>

          <mat-radio-group formControlName="status"height="300px">
            <mat-radio-button value="0">Free</mat-radio-button>
            <mat-radio-button value="1">Ordered</mat-radio-button>
          </mat-radio-group>
        </div>
      </mat-grid-tile>
      <mat-grid-tile>
          <div class="controles-container">
              <div class="button-row">
                <button mat-raised-button color="primary" type="submit" 
                [disabled]="coptersForm.invalid">Submit</button>
                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
              </div>
            </div>
      </mat-grid-tile>
    </mat-grid-list>
  </form>
