<mat-sidenav-container class="container" style="height: 100%">
        <mat-sidenav #sidenav mode="side">
          <mat-nav-list>
            <a mat-list-item routerLink="map">
                <mat-icon color='primary'>place</mat-icon>
                Map
            </a>
            <a mat-list-item routerLink="brands">
              <mat-icon color='primary'>donut_large</mat-icon>
              Brands
            </a>
            <a mat-list-item routerLink="copters">
             <mat-icon color='primary'>center_focus_weak</mat-icon>
              Copters
            </a>
          </mat-nav-list>
        </mat-sidenav>
      
        <mat-sidenav-content>
          <mat-toolbar>
            <button mat-icon-button (click)="sidenav.toggle()"><mat-icon>menu</mat-icon></button>
          </mat-toolbar>
          <main>
              <router-outlet></router-outlet>
          </main>
      
        </mat-sidenav-content>
</mat-sidenav-container>
