<mat-card>    
  <!-- Title of an Card -->    
  <mat-card-title>    
      Registration   
  </mat-card-title>    
  
    <mat-card-content>
            <form [formGroup]="registrationForm" class="normal-form" (submit)="onSubmit()">
                    <mat-grid-list cols="2" rowHeight="520px">
                      <mat-grid-tile>
                        <div class="controles-container">
                          <input type="hidden" formControlName="id">
                          <mat-form-field>
                            <input formControlName="firstName" matInput placeholder="First name*">
                            <mat-error>This field is mandatory.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                            <input formControlName="lastName" matInput placeholder="Last name*">
                            <mat-error>This field is mandatory.</mat-error>
                            </mat-form-field>  
                          <mat-form-field>
                            <input formControlName="email" matInput placeholder="Email*">
                            <mat-error>This field is mandatory.</mat-error>
                          </mat-form-field> 
                          <mat-form-field>
                                <input formControlName="password" matInput placeholder="Password*">
                                <mat-error>This field is mandatory.</mat-error>
                         </mat-form-field> 
                
                          <mat-form-field>
                              <mat-select placeholder="Select brand" formControlName="discount">
                                  <mat-option *ngFor="let discount of discounts" [value]="discount.id">
                                      {{discount.type}}
                                  </mat-option>
                                </mat-select>
                        </mat-form-field>
                          <mat-form-field>
                              <input formControlName="phoneNumber" matInput placeholder="Phone number*">
                              <mat-error>This field is mandatory.</mat-error>
                          </mat-form-field>
                          <mat-form-field>
                                <input formControlName="passportNumber" matInput placeholder="Passport*">
                                <mat-error>This field is mandatory.</mat-error>
                            </mat-form-field>
                        </div>
                      </mat-grid-tile>
                     
                      <mat-grid-tile>

                          <div class="controles-container">
                              <div class="button-row">
                                <button mat-raised-button color="primary" type="submit" 
                                [disabled]="registrationForm.invalid">Submit</button>
                                <button mat-raised-button color="warn" (click)="onClear()">Clear</button>
                              </div>
                            </div>
                      </mat-grid-tile>
                    </mat-grid-list>
                  </form>
    </mat-card-content>
</mat-card>   