<div fxLayout="row"  class="dashcard"  >
    <div  fxLayout="row"  fxLayoutAlign="center center" [style.background]="dashData?.colorLight">
        <mat-icon  class="cardIcon">{{dashData?.icon}}</mat-icon>
        <div class="mat-body border-left">
            {{dashData?.title}}
        </div>
    </div>

    <div fxFlex="60" fxLayout="row" fxLayoutAlign="center center" [style.background]="dashData?.colorDark" >  
        <div style="color: white;font-size: 40px">
            <ng2-odometer [number]="dashData?.number"></ng2-odometer>           
        </div>  
    </div>
</div>