
<mat-tab-group>
  <mat-tab label="Feel free"> 
      <video class="video-fluid" autoplay loop muted>
          <source src="https://mdbootstrap.com/img/video/Tropical.mp4" type="video/mp4" />
      </video> 
  </mat-tab>
  <mat-tab label="with Around"> 
    <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/forest.mp4" type="video/mp4" />
    </video> 
  </mat-tab>
  <mat-tab label="Enjoy this moment"> 
    <video class="video-fluid" autoplay loop muted>
        <source src="https://mdbootstrap.com/img/video/Agua-natural.mp4" type="video/mp4" />
    </video>  
  </mat-tab>
</mat-tab-group>