<mat-toolbar>
  <span>New brand</span>
  <span class="fill-remaining-space"></span>
  <button class="btn-dialog-close" mat-stroked-button (click)="onClose()" tabIndex="-1"><mat-icon>clear</mat-icon></button>
</mat-toolbar>
<form [formGroup]="brandFormGroup" class="normal-form">
  <mat-grid-list cols="2" rowHeight="300px">
    <mat-grid-tile>
      <div class="controles-container">     
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Brand name*">
          <mat-error>This field is mandatory.</mat-error>
        </mat-form-field>

        <mat-form-field>
          <mat-select placeholder="Country" formControlName="country">
              <mat-option *ngFor="let country of countries" [value]="country.code">
                  {{country.countryName}}
              </mat-option>
            </mat-select>
        </mat-form-field>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="controles-container">
        <div class="add-bottom-padding">
        </div>
        <div class="button-row">
          <button mat-raised-button color="primary" type="submit"
          (click)="onSubmit()" [disabled]="brandFormGroup.invalid">Submit</button>
          <button mat-raised-button color="warn" (click)="onClose()">Close</button>
        </div>
      </div>
    </mat-grid-tile>
  </mat-grid-list>
</form>